@model Management_Web_Application.Models.StaffModels.StaffPermissionsViewModel;

@Html.AntiForgeryToken()
<form method="post">
    @Html.HiddenFor(x => x.StaffID)
    <div class="table-responsive-xl">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Permisson Name</th>
                    <th>Check Box</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CustomerAccountDeleltionRequestBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.CustomerAccountDeleltionRequestBool)</td>
                        <td>@Html.CheckBoxFor(x => x.CustomerAccountDeleltionRequestBool)</td>
                    </tr>
                }
                @if (Model.OrderBool == false)
                {
                    <tr>

                        <td>@Html.DisplayNameFor(m => m.OrderBool)</td>
                        <td>@Html.CheckBoxFor(x => x.OrderBool)</td>
                    </tr>
                }
                @if (Model.ProductBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ProductBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ProductBool)</td>
                    </tr>
                }
                @if (Model.ProductReviewBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ProductReviewBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ProductReviewBool)</td>
                    </tr>
                }
                @if (Model.PurchaseReqiestBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.PurchaseReqiestBool)</td>
                        <td>@Html.CheckBoxFor(x => x.PurchaseReqiestBool)</td>
                    </tr>
                }
                @if (Model.StaffBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.StaffBool)</td>
                        <td>@Html.CheckBoxFor(x => x.StaffBool)</td>
                    </tr>
                }
                @if (Model.ThirdPartyStockRequestBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ThirdPartyStockRequestBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ThirdPartyStockRequestBool)</td>
                    </tr>
                }
                @if (Model.DeleteProductsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.DeleteProductsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.DeleteProductsBool)</td>
                    </tr>
                }
                @if (Model.DeleteStaffBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.DeleteStaffBool)</td>
                        <td>@Html.CheckBoxFor(x => x.DeleteStaffBool)</td>
                    </tr>
                }
                @if (Model.ConfirmInvoiceBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ConfirmInvoiceBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ConfirmInvoiceBool)</td>
                    </tr>
                }
                @if (Model.UpdateCustomerAccountDeleltionRequestBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdateCustomerAccountDeleltionRequestBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdateCustomerAccountDeleltionRequestBool)</td>
                    </tr>
                }
                @if (Model.UpdateOrdersBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdateOrdersBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdateOrdersBool)</td>
                    </tr>
                }
                @if (Model.UpdateProductsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdateProductsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdateProductsBool)</td>
                    </tr>
                }
                @if (Model.UpdateProductReviewBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdateProductReviewBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdateProductReviewBool)</td>
                    </tr>
                }
                @if (Model.UpdatePurchaseRequestStatusBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdatePurchaseRequestStatusBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdatePurchaseRequestStatusBool)</td>
                    </tr>
                }
                @if (Model.UpdateStaffBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.UpdateStaffBool)</td>
                        <td>@Html.CheckBoxFor(x => x.UpdateStaffBool)</td>
                    </tr>
                }
                @if (Model.ReadCustomerAccountDeleltionRequetBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadCustomerAccountDeleltionRequetBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadCustomerAccountDeleltionRequetBool)</td>
                    </tr>
                }
                @if (Model.ReadCustomerAccountDeleltionRequestsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadCustomerAccountDeleltionRequestsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadCustomerAccountDeleltionRequestsBool)</td>
                    </tr>
                }
                @if (Model.ReadCustomerOrdersBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadCustomerOrdersBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadCustomerOrdersBool)</td>
                    </tr>
                }
                @if (Model.ReadInvoicedOrderBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadInvoicedOrderBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadInvoicedOrderBool)</td>
                    </tr>
                }
                @if (Model.ReadInvoicedOrdersBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadInvoicedOrdersBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadInvoicedOrdersBool)</td>
                    </tr>
                }
                @if (Model.ReadOrdersBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadOrdersBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadOrdersBool)</td>
                    </tr>
                }
                @if (Model.OrderBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadPendingInvoicesBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadPendingInvoicesBool)</td>
                    </tr>
                }
                @if (Model.ReadPendingPurchaseRequests == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadPendingPurchaseRequests)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadPendingPurchaseRequests)</td>
                    </tr>
                }
                @if (Model.ReadProductDetailsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadProductDetailsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadProductDetailsBool)</td>
                    </tr>
                }
                @if (Model.ReadProductReviewBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadProductReviewBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadProductReviewBool)</td>
                    </tr>
                }
                @if (Model.ReadProductReviewsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadProductReviewsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadProductReviewsBool)</td>
                    </tr>
                }
                @if (Model.ReadProdcutsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadProdcutsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadProdcutsBool)</td>
                    </tr>
                }
                @if (Model.ReadPurchaseRequestBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadPurchaseRequestBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadPurchaseRequestBool)</td>
                    </tr>
                }
                @if (Model.ReadPurchaseRequestsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadPurchaseRequestsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadPurchaseRequestsBool)</td>
                    </tr>
                }
                @if (Model.ReadStaffMemberBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadStaffMemberBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadStaffMemberBool)</td>
                    </tr>
                }
                @if (Model.ReadStaffMembersBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadStaffMembersBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadStaffMembersBool)</td>
                    </tr>
                }
                @if (Model.ReadThirdPartyStockBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadThirdPartyStockBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadThirdPartyStockBool)</td>
                    </tr>
                }
                @if (Model.OrderBool == false)
                {

                }
                @if (Model.ReadVisibleProductReviewsBool == false)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.ReadVisibleProductReviewsBool)</td>
                        <td>@Html.CheckBoxFor(x => x.ReadVisibleProductReviewsBool)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <button type="submit" class="btn btn-success btn-sm">Update Staff </button>
</form>
