@model Management_Web_Application.Models.StaffUpdateViewModel;

@Html.AntiForgeryToken()
<form method="post">
    <div class="form-group" row>
        <div class="col-6">
            @Html.HiddenFor(m => m.StaffID)
            @Html.LabelFor(m => m.StaffFirstName, "First Name")
            @Html.TextBoxFor(m => m.StaffFirstName, new { @class = "form-control", @placeholder = Model.StaffFirstName })
            @Html.LabelFor(m => m.StaffLastName, "Last Name")
            @Html.TextBoxFor(m => m.StaffLastName, new { @class = "form-control", @placeholder = Model.StaffLastName })
            @Html.LabelFor(m => m.StaffEmailAddress, "Email Address")
            @Html.TextBoxFor(m => m.StaffEmailAddress, new { @class = "form-control", @placeholder = Model.StaffEmailAddress })
            <br />
            <button type="submit" class="btn btn-success btn-sm">Update Staff Account</button>
        </div>
    </div>
</form>