@model List<Management_Web_Application.Models.PurchaseModels.PurchaseReadViewModel>;

<h1>Purchase Requests</h1>
<hr />

<form method="post">
    <div class="table-responsive-xl">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Update Staff Permissions</th>
                    <th scope="col">Update Staff Account</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Deny</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td id="purchaseID">@item.PurchaseID</td>
                        <td>@item.PurchaseName</td>
                        <td>@item.PurchaseQTY</td>
                        <td>£@item.PurchaseCost</td>
                        <td><a class="btn btn-success"asp-controller="Purchase" asp-action="SendPurchaseRequest" asp-route-id="@item.PurchaseID" ><i class="fa fa-check"></i> Accept</a></td>
                        <td><a class="btn btn-danger" asp-controller="Purchase" asp-action="DenyPurchaseRequest" asp-route-id="@item.PurchaseID"><i class="fa fa-close"></i> Deny</a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>