@model List<Management_Web_Application.Models.PurchaseModels.PurchaseReadViewModel>;

<h1>Purchase Requests</h1>
<hr />

<form method="post">
    <div class="table-responsive-xl">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Account Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">When</th>
                    <th scope="col">Description</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                <tr>
                    <td>@item.accountName</td>
                    <td>@item.quantity</td>
                    <td>@item.when</td>
                    <td>@item.description</td>
                    <td>@item.brandName</td>
                    <td>£@item.price</td>
                    <td>£@item.totalPrice</td>
                    @if (item.purchaseRequestStatus == 1)
                    {
                        <td><a class="btn btn-success" asp-controller="Purchase" asp-action="Payment" asp-route-id="@item.purchaseRequestID"><i class="fa fa-check"></i> Accept</a></td>
                        <td><a class="btn btn-danger" asp-controller="Purchase" asp-action="DenyPurchaseRequest" asp-route-id="@item.purchaseRequestID"><i class="fa fa-close"></i> Deny</a></td>
                    }
                    @if (item.purchaseRequestStatus == 2)
                    {
                        <td>Purchase Approved</td>
                        <td></td>
                    }
                    @if (item.purchaseRequestStatus == 3)
                    {
                        <td>Purchase Denied</td>
                        <td></td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>